name: Build and Release

on:
  push:
    tags:
      - 'v*'  # Solo corre cuando se crea un tag como v1.0.0

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        
    - name: Install dependencies
      run: |
        flutter pub get
        flutter clean
        
    - name: Get version from pubspec.yaml
      id: version
      run: |
        VERSION=$(grep 'version:' pubspec.yaml | head -1 | awk -F: '{ print $2 }' | sed 's/[ ",]//g')
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        echo "Version: $VERSION"
        
    - name: Build APK
      run: flutter build apk --release --build-name=${{ steps.version.outputs.VERSION }}
      
    - name: Build AppBundle
      run: flutter build appbundle --release --build-name=${{ steps.version.outputs.VERSION }}
      
    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        name: Release ${{ github.ref_name }}
        draft: false
        prerelease: false
        files: |
          build/app/outputs/flutter-apk/app-release.apk
          build/app/outputs/bundle/release/app-release.aab
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}